<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Flight ticket is booked, <%= @user.name.capitalize %></h1>
    <p>
      You have successfully booked the ticket # <%= @user.flights.last.id %>
    <br>
    </p>
    <h3>
      Your booking information:
    </h3>
    <p>Booking #<%= @booking.id %>.</p>
    <p>Flight from <%= @booking.flight.from_airport.code %> to <%= @booking.flight.to_airport.code %></p>
    <p>Flight date is <%= @booking.flight.start_datetime%></p><br>
    <p>Thanks for choosing HighFly App and have a great day!</p>
  </body>
</html>
